<% layout("/layouts/boilerplate")%>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h2>Create a new listing</h2>
            <br>
            <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input placeholder="Add a catchy title" type="text" name="listing[title]" class="form-control"
                        required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required> </textarea>
                    <div class="invalid-feedback">Please enter a short Description!</div>
                </div>
                <div class="mb-3">
                    <label for="image">Upload Listing Image</label>
                    <input type="file" id="filename" name="listing[image]" required class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input placeholder="1200" name="listing[price]" class="form-control" required>
                        <div class="invalid-feedback"> Price should be valid!</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input placeholder="India" type="text" name="listing[country]" class="form-control" required>
                        <div class="invalid-feedback">Country name should be valid!</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input placeholder="Bihar, Patna" type="text" name="listing[location]" class="form-control"
                        required>
                    <div class="invalid-feedback">Location should be valid!</div>
                </div>
                <br>
                <button class="btn btn-dark add-btn">Add</button>
                <br><br>
            </form>
        </div>
    </div>